* body{
    background-color: coral;
    
}
.word{
    text-align: center;
    color: white;
    background-color: black ;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
    font-size: x-large;
   
    
}
.para{
    color: #0d1504;
    background-color: beige;
    max-width: 50%;
    margin: auto;
    border: solid thin hsl(0, 85%, 3%);
    padding: 10%;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
#root{
    
    border-bottom: 9px;
    text-decoration-line: underline;
    margin: 363px;
    color: darkmagenta;
    background-color: rgb(157, 213, 26);
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;

}
strong,i{
    color: crimson;
    border: solid thick rgb(15, 2, 4) ;
    border-width: 0.5px;
    border-radius: 20px;
    margin: 3px;
    padding: 4px;
}


